
<div class="modal" style="display: block; margin-top: 100px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign-in</h4>
      </div>
      <div class="modal-body">
        <p>Please sign-in to view unassigned helpdesk tickets.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-block" ng-click="login()">Sign-in with Office 365</button>
      </div>
    </div>
  </div>
</div>